@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

body#cart {
  .container {
    margin: 0 auto;
  }

  #cart-wrap {
    float: none;
    margin: 0 auto;
  }
}

.fas {
  @extend %fa-icon;
  @extend .fas;
}

.cart__icon:before {
  content: fa-content($fa-var-shopping-cart);
}

.cart__loading:before {
  content: fa-content($fa-var-spinner);
}
